header {
    text-align: center;
}

main {
    text-align: center;
}

.addItems input {
    margin: 0 auto;
    display: block;
}

.table {
    text-align: left;
    width: $tableWidth;
    margin: 0 auto;
}

footer {
    margin-top: $footerMarginTop;
}
