header {
    text-align: center;
}

main {
    text-align: center;
}

.addItem div {
    margin: 0 auto;
    display: block;
    padding: 1%;

    input {
        width: 25%;
        display: inline;
    }
}

.table {
    text-align: left;
    width: $tableWidth;
    margin: 0 auto;
}

footer {
    margin-top: $footerMarginTop;
}
