<!DOCTYPE html>
<html ng-app='shop'>
    <head>
        <meta charset='utf-8'>
        <title>Shopular - Angular - Week 7</title>

        <meta name='description' content='Shopular inventory app'>
        <meta name='author' content='Stella Ma'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0,
        minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
        rel='stylesheet' type='text/css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
        crossorigin='anonymous'>
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>The Shop</h1>
        </header>

        <main>
            <section ng-cloak ng-controller='InventoryController as inventory'>
                <h2>Add an item to your inventory:</h2>
                <form novalidate class='addItem' name='addItem' ng-submit='addItem.$valid
                && inventory.addItem(inventory.newItem)'>
                    <div class='form-group'>
                        <label for='itemName' class='text-primary'>Name: </label>
                        <input type='text' id='itemName' class='form-control'
                        ng-model='inventory.newItem.name' name='itemName' placeholder='Enter name' required>
                        <p class='invalidInput' ng-show='addItem.itemName.$touched && !addItem.itemName.$valid'>
                            You didn't enter an item name!
                        </p>
                    </div>

                    <div class='form-group'>
                        <label for='itemPrice' class='text-primary'>Price: </label>
                        <input type='text' id='itemPrice' class='form-control' ng-model='inventory.newItem.price'
                        name='itemPrice' placeholder='Enter base price' min='0' required>

                        <div ng-show='addItem.itemPrice.$touched && addItem.itemPrice.$valid'>
                            <p class='invalidInput' ng-show='addItem.itemPrice.$error.min'>
                                Item price cannot be less than $0.00
                            </p>
                            <p class='invalidInput' ng-show='addItem.itemPrice.$error.required'>
                                You didn't enter an item price!
                            </p>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for='itemQuantity' class='text-primary'>Quantity: </label>
                        <input type='text' id='itemQuantity' class='form-control'
                        ng-model='inventory.newItem.quantity' name='itemQuantity'
                        placeholder='Enter quantity' min='0' required>
                        <div ng-show='addItem.itemQuantity.$touched && addItem.itemQuantity.$valid'>
                            <p class='invalidInput' ng-show='addItem.itemQuantity.$error.min'>
                                Item quantity cannot be less than 0
                            </p>
                            <p class='invalidInput' ng-show='addItem.itemQuantity.$error.required'>
                                You didn't enter an item quantity!
                            </p>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for='itemColor' class='text-primary'>Color: </label>
                        <input type='text' id='itemColor' class='form-control'
                        ng-model='inventory.newItem.color' name='itemColor'
                        placeholder='Enter color' required>
                        <p class='invalidInput' ng-show='addItem.itemColor.$touched
                        && !addItem.itemColor.$valid'>
                            You didn't enter an item color!
                        </p>
                    </div>

                    <div class='form-group'>
                        <label for='itemDiscount' class='text-primary'>Discount: </label>
                        <input type='text' id='itemDiscount' class='form-control'
                        ng-model='inventory.newItem.discount' name='itemDiscount'
                        placeholder='Enter discount in dollars' required>
                        <p class='invalidInput' ng-show='addItem.itemDiscount.$touched
                        && !addItem.itemDiscount.$valid'>
                            You didn't enter an item discount in dollars!
                        </p>
                    </div>

                    <input class='btn btn-default' type='submit' value='Add item'>
                </form>

                <h2>Item Inventory - Total Items:
                    <span class='text-info'>{{inventory.inventory.length}}</span>
                </h2>

                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th ng-click='inventory.sorting("name")'>Name</th>
                            <th ng-click='inventory.sorting("price")'>Price</th>
                            <th ng-click='inventory.sorting("quantity")'>Quantity</th>
                            <th ng-click='inventory.sorting("color")'>Color</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            ng-repeat='item in inventory.inventory |
                            orderBy: inventory.orderByField : inventory.reverseSort'>
                            <td>{{item.name}}</td>
                            <td>
                                {{inventory.getPrice(item) | currency}}

                                <img
                                    class='sale'
                                    ng-show='item.discount > 0'
                                    src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'>

                            </td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.color}}</td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>

        <footer>
            <p>Copyright 2016 The Shop</p>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>

        <script src='/js/main.js'></script>

    </body>
</html>
