<!DOCTYPE html>
<html ng-app='shop'>
    <head>
        <meta charset='utf-8'>
        <title>Shopular - Angular - Week 7</title>

        <meta name='description' content='Shopular inventory app'>
        <meta name='author' content='Stella Ma'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>The Shop</h1>
        </header>

        <main>
            <section ng-cloak ng-controller='InventoryController as inventory'>
                <form novalidate class='addItem' name='addItem' ng-submit='inventory.addItem(inventory.newItem)'>
                    <h2>Add an item to your inventory:</h2>
                    <input type='text' ng-model='inventory.newItem.name' name='itemName' placeholder='Enter name' required>
                    <input type='text' ng-model='inventory.newItem.price' name='itemPrice' placeholder='Enter base price' required>
                    <input type='text' ng-model='inventory.newItem.quantity' name='itemQuantity' placeholder='Enter quantity' required>
                    <input type='text' ng-model='inventory.newItem.color' name='itemColor' placeholder='Enter color' required>
                    <input type='text' ng-model='inventory.newItem.discount' name='itemDiscount' placeholder='Enter discount in dollars' required>
                    <input type='submit' value='Add item'>
                </form>

                <h2>Item Inventory - Total Items: <span class='text-info'>{{inventory.inventory.length}}</span></h2>

                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Color</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            ng-repeat='item in inventory.inventory | orderBy:"quantity"'>
                            <td>{{item.name}}</td>
                            <td ng-class='{ discounted: item.discount }'>
                                {{inventory.getPrice(item.price, item.discount, inventory.tax) | currency}}
                                <img class='sale' src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'>
                            </td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.color}}</td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>

        <footer>
            <p>Copyright 2016 The Shop</p>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>

        <script src='/js/main.js'></script>

    </body>
</html>
